.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
  grid-gap: 0.2rem;
}

nav {
  grid-area: nav;
  border-radius: 5px;
  background-color: #a7ffeb;
}

main {
  grid-area: main;
  border-radius: 5px;
  background-color: #84ffff;
}

#sidebar {
  grid-area: sidebar;
  border-radius: 5px;
  background-color: #18ffff;
}

#content1 {
  grid-area: content1;
  border-radius: 5px;
  background-color: #6fffd2;
}

#content2 {
  grid-area: content2;
  border-radius: 5px;
  background-color: #64ffda;
}

#content3 {
  grid-area: content3;
  border-radius: 5px;
  background-color: #6fffd2;
}

footer {
  grid-area: footer;
  border-radius: 5px;
  background-color: #1de9b6;
}
